<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="nav-link color-cursor navbar-brand" style="color: white">Github Clone</a>
    <div>
      <ul class="navbar-nav ml-auto color-cursor">
        <li class="nav-item">
          <a  class="nav-link" (click)=viewUsers()>Users</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" (click)=logOut()>Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-note-list></app-note-list>